appdirs==1.4.3
backports.functools-lru-cache==1.4
cycler==0.10.0
decorator==4.1.2
h5py==2.7.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
py==1.5.2
PyOpenGL==3.1.0
pyparsing==2.2.0
pytest==3.2.5
python-dateutil==2.6.1
pytools==2017.6
pytz==2017.3
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7